::-webkit-scrollbar-track {
    background-color: #111;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #111;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
            left bottom,
            left top,
            color-stop(0.80, rgb(227, 34, 76)),
            color-stop(0.60, rgb(201, 32, 69)),
            color-stop(0.40, rgb(186, 28, 62)),
            color-stop(0.20, rgb(145, 22, 48)));
}

body {
    font-family: 'Exo', Arial, sans-serif !important;
    color: #ffffff;
    margin: 0;
    background-color: #111111;
}

input,
button,
a {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 400;
}

h1, .fa-film {
    font-size: 2.5rem;
    font-weight: 600;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.d-inline-block {
    display: inline-block;
}

.margin-top {
    margin-top: 2em;
}


.backtoTop {
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.6) !important;
    background-color: rgba(145, 22, 48, 0.6);
    border-color: #f8f9fa;
    padding: 0em .5em 0em .5em;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 1em;
    right: 1em;
    transition: background-color .3s;
    cursor: pointer;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

    .backtoTop:hover {
        color: rgba(0, 0, 0, 0.85) !important;
        background-color: rgba(145, 22, 48, 0.85);
    }

    .backtoTop.show {
        visibility: visible;
        opacity: 1;
    }

